@import url("./global.css");

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;
}

.nav-header ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-header ul li a{
    color: var(--color-secondary-dark);
    font-family: var(--font-body);
    font-size: var(--font-body-size);
    text-decoration: none;
}

.btn-header{
    background-color: var(--color-primary-orage);
    color: var(--color-secondary-white);
    font-family: var(--font-title);
    text-decoration: none;
    padding: 12px 30px;
    border-radius: 15px 3px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 60px;
}

.content-main{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h1{
    font-size: var(--font-headline-h1-size);
    font-family: var(--font-title);
    width: 562px;
}

.highlighted-word{
    color: var(--color-primary-orage);
}

.content-main p{
    color: var(--color-secondary-gray);
    font-family: var(--font-body);
    font-size: var(--font-body-size);
    line-height: 30px;
    width: 544px;
}

.container-btn-main{
    display: flex;
    gap: 20px;
}

                      /* ---------- Section 2 - Differences ------------ */
.section-differences{
    background-color: var(--color-primary-orage-10);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0px;
    gap: 40px;
}

.diffences-cards-container{
    display: flex;
    gap: 70px;
}
.diffences-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid grey;
    border-radius: 10px;
    gap:10px;
    padding: 20px;
    width: 257px;
    height: 260px;
    text-align: center;
}

.diffences-card h3{
    font-size: var(--font-headline-h3-size);
    font-family: var(--font-title) ;
    width: 181px;
}

.diffences-card p{
    font-size: var(--font-body-size);
    font-family: var(--font-body);
    width: 227px;
    color: var(--color-secondary-gray);
    line-height: 30px;
}

                /* ---------- Section 3 - Chef------------ */
.section-chef{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 60px;
}

.content-chef{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.content-chef h2{
    line-height: 60px;
    width: 433px;
}

.content-chef p{
    font-family: var(--font-body);
    color: var(--color-secondary-gray);
    width: 503px;
    line-height: 30px;
}

.container-btn-main{
    display: flex;
    gap: 20px;
}

                                /* ---------- Section 4 - Chef------------ */
.section-featured-dishes{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0px;
    gap: 25px;
    background-color: var(--color-primary-orage-10);
}

.container-cards-dishes{
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 101px;
    
}

.card-dishes {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--color-secondary-white);
    gap: 16px;
    width: 300px;
    border: 1px solid  #D3D3D3 ;
    border-radius: 20px 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.09);
    padding: 123px 15px 45px 15px;
    position: relative
}

.card-dishes img{
    position: absolute;
    top: -101px;
}

.card-dishes h3{
    font-family: var(--font-title);
    font-size: var(--font-headline-h3-size);
    width: 174px;
}

.card-dishes p{
    width: 271px;
    font-family: var(--font-body);
    font-size:var(--font-body-size);
    color: var( --color-secondary-gray);
    line-height: 30px;
}
